numpy
matplotlib
scikit-learn
pandas
tensorflow
textblob
pyspellchecker
symspellpy
emoji
spacy
gensim
wget
plotly
nbformat
seaborn
llama-index
wikipedia-api
llama-index-llms-ollama
llama-index-embeddings-huggingface
pyvis
geopy
xgboost
shap
lightgbm
catboost
transformers
torch 
torchvision
pillow 
langchain 
langchain-core
langchain-community
librosa 
soundfile
sounddevice
noisereduce
mediapipe
datasets
accelerate 
evaluate
peft
bitsandbytes
adapters
langchain_openai
langchain-huggingface
pydantic[email]
grandalf
langchain-experimental
chromadb 
tiktoken 
pypdf
faiss-cpu
wikipedia
rank_bm25
youtube-transcript-api
duckduckgo-search
ddgs
requests
langgraph
streamlit
langgraph-checkpoint-sqlite
yfinance
aiosqlite
psycopg[binary,pool]
langgraph-checkpoint-postgres
loguru
langchain-mcp-adapters
mcp-github
mcp-jira