numpy
matplotlib
scikit-learn
pandas
tensorflow
textblob
pyspellchecker
symspellpy
emoji
spacy
gensim
wget
plotly
nbformat
seaborn
llama-index
wikipedia-api
llama-index-llms-ollama
llama-index-embeddings-huggingface
pyvis
geopy
xgboost
shap
lightgbm
catboost
transformers
torch 
torchvision
pillow 
langchain 
langchain-core
langchain-community
librosa 
soundfile
sounddevice
noisereduce
mediapipe
datasets
accelerate 
evaluate
peft
bitsandbytes
adapters