numpy
matplotlib
scikit-learn
pandas
tensorflow
textblob
pyspellchecker
symspellpy
emoji
spacy
gensim
wget
plotly
nbformat
seaborn
llama-index
wikipedia-api
llama-index-llms-ollama
llama-index-embeddings-huggingface
pyvis
geopy
xgboost
shap